version: '3.8'

services:
  redis-stack:
    image: redis/redis-stack:latest
    container_name: redis-stack
    ports:
      - "6379:6379"    # Redis server
      - "8001:8001"    # Redis Stack Web UI
    restart: always
    volumes:
      - redis_data:/data                           # Redis persistence
      - ./redis.acl:/usr/local/etc/redis/redis.acl     # ACL file
    environment:
      - REDIS_ARGS=--requirepass 123456 --aclfile /usr/local/etc/redis/redis.acl

  redis-insight:
    image: redis/redisinsight:latest
    container_name: redis-insight
    ports:
      - "5540:5540"    # RedisInsight UI
    restart: always
    volumes:
      - ./data/redisinsight:/db                        # Insight data
volumes:
  redis_data: